{% extends 'base.html' %}


{% block title %}Impressum, Datenschutz & mehr{% endblock %}


{% block header %}

<aside
    class="px-6 py-4 code text-base shadow-inner cursor-default select-none"
    x-data="cursor"
>
    <div class="flex items-center space-x-2 select-none">
        <div class="flex items-center font-bold">
            <span class="text-green-400">user@sitzungsapp</span>
            <span class="hidden sm:block text-blue-400">[v{{ current_version() }}]</span>
            <span class="text-blue-gray-400">:</span>
        </div>
        <div class="relative">
            <span class="italic">project --imprint</span>
            <i x-ref="cursor" class="-mr-4 w-2.5 h-full absolute right-0 top-0 bg-blue-gray-500"></i>
        </div>
    </div>
    <div class="sm:hidden">
        <p class="mt-4">
            Im Rahmen dieser Anwendung haben Vertreter:innen der Staatsanwaltschaft die Möglichkeit, Dateien mit Sitzungsterminen hochzuladen.
        </p>
        <p class="mt-4">
            Infos zum Umgang mit Euren Daten <a class="link font-bold text-green-400 hover:text-yellow-300" href="/rechtliche-angaben">gibt es hier</a>.
        </p>
    </div>
    <pre class="pt-2">{{ personal | json2string }}</pre>
</aside>

{% endblock %}


{% block content %}

<p class="mb-4">
    Als <span class="font-medium">Diensteanbieter</span> und <span class="font-medium">Verantwortlicher für die Verarbeitung personenbezogener Daten</span> im Geltungsbereich der nachfolgenden Datenschutzerklärung freue ich mich über über Fragen und Feedback aller Art.
</p>
<p class="mb-6">
    Dafür stehen - als Alternativen zur analogen Post - auch <span class="font-medium">digitale Kontaktmöglichkeiten</span> zur Verfügung: die sichere Kommunikation <a class="link" href="https://de.wikipedia.org/wiki/Matrix_(Kommunikationsprotokoll)" title="Link zum Wikipedia-Artikel über 'Matrix'" target="_blank">auf Basis des freien Matrix-Protokolls</a> einerseits und die Nutzung <a class="link" href="https://digitalcourage.de/digitale-selbstverteidigung/email-verschluesselung" title="Link zum Artikel 'E-Mails verschlüsseln mit OpenPGP' des Digitalcourage e.V." target="_blank">verschlüsselter Emails</a> andererseits:
</p>
<div class="mb-12 flex justify-center">
    <a
        class="group table btn py-3 px-4"
        href="/static/pubkey.asc"
        download="pubkey.asc"
    >
        <div class="flex items-center">
            <div class="flex-none hidden xs:block">
                <i class="icon-software-download mr-4 text-blue-800 group-hover:text-orange-600 group-focus:text-orange-600 transition-colors duration-200"></i>
            </div>
            <div class="flex-1 font-medium">
                <span class="text-white">
                    Öffentlicher Schlüssel
                </span>
                <span class="hidden xs:inline text-sm text-blue-200 group-hover:text-orange-200 group-focus:text-orange-200 transition-colors duration-200">
                    ({{ pubkey_size }})
                </span>
            </div>
        </div>
    </a>
</div>

<h2 id="datenschutz" class="mb-2 font-bold text-xl">
    Erklärung zum <span class="text-blue-500">Datenschutz</span>
</h2>
<p class="mb-4">
    Im Rahmen dieser Webapplikation haben Nutzer:innen die Möglichkeit, <span class="font-medium">Dateien mit Sitzungsterminen der Staatsanwaltschaft</span> hochzuladen.
</p>
<p class="mb-4">
    Diese enthalten <span class="font-medium">personenbezogene Daten</span>, etwa die Vor- und Nachnamen der eingeteilten Sitzungsvertreter:innen. Davon abgesehen ist die Eingabe personenbezogener Daten zur Nutzung der Anwendung nicht notwendig; bereits <span class="italic">by design</span> ist deren <span class="font-medium">Erhebung oder Speicherung nicht vorgesehen</span>:
</p>
<p class="mb-4">
    Lädt ein:e Nutzer:in eine oder mehrere PDF-Dateien hoch, wird <span class="font-medium">deren Inhalt in den Arbeitsspeicher des Servers geladen</span> und anschließend weiterverarbeitet. Der am Ende dieses Vorgangs stehende Kalenderinhalt wird in eine (sehr) lange Zeichenkette umgewandelt und an den Browser zurückgegeben - dieser sogenannte <span class="italic">base64-encoded string</span> existiert also lediglich nach Abfrage durch eine:n Nutzer:in.
</p>
<p class="mb-4">
    Soll hieraus eine Kalenderdatei erzeugt werden, wird die zuvor erzeugte Zeichenkette an den Server geschickt, der sie - ebenfalls <span class="italic">in-memory</span> - in eine virtuelle Datei verwandelt und zurücksendet. Die verarbeiteten (personenbezogenen) <span class="font-medium">Daten werden also zu keinem Zeitpunkt gespeichert</span>.
</p>
<p class="mb-4">
    Daneben werden weder Maßnahmen zum Tracking von Nutzer:innen eingesetzt noch <span class="italic">Logfiles</span> oder sonstige Verbindungsnachweise erhoben, aus denen sich Rückschlüsse gleich welcher Art ziehen ließen. Eine <span class="font-medium">Einbindung externer Ressourcen</span> wie Schriftarten oder JavaScript-Code <span class="font-medium">findet nicht statt</span>.
</p>
<p class="mb-4">
    Aus diesen Gründen gehen auch die Rechte auf Auskunft, Berichtigung, Löschung oder Datenübertragbarkeit fehl: <span class="font-medium">da keinerlei Daten gespeichert werden, können diese auch nicht preisgegeben, gelöscht, berichtigt oder übertragen werden</span>.
</p>
<p class="mb-8">
    Für Fragen zur technischen Umsetzung und Verbesserungsvorschläge stehe ich unter den oben genannten Kontaktinformationen jederzeit zur Verfügung!
</p>

<h2 id="rechtliches" class="mb-4 font-bold text-xl">
    <span class="text-blue-500">Rechtliche</span> Angaben
</h2>
<div class="mb-8">
    {% for title, text in legal.items() %}
    <div
        x-data="dropdown({% if loop.first %}true{% else %}false{% endif %})"
        class="{% if not loop.first %} mt-4 {% endif %} border-2 border-dashed border-gray-400 hover:border-blue-500 rounded-lg"
        :class="{ 'border-blue-500' : isOpen }"
    >
        <button
            class="group py-2 px-3 w-full flex items-center text-gray-600 focus:outline-none"
            @click="toggle"
        >
            <div class="flex-1 text-left">
                <p class="font-medium group-hover:text-blue-500">{{ title }}</p>
            </div>
            <i class="flex-none text-gray-400 group-hover:text-blue-500" :class="{ 'icon-remove' : isOpen, 'icon-add' : !isOpen}"></i>
        </button>
        <p class="px-3 pb-4" x-show="isOpen" x-cloak>{{ text }}</p>
    </div>
    {% endfor %}
</div>

<div class="flex justify-end">
    <a class="btn" href="/">Neustart</a>
</div>

{% endblock %}
