{% extends 'base.html' %}


{% block title %}Über das Projekt "Sitzungstermine as a Service"{% endblock %}


{% block content %}

<h2 class="mb-2 font-bold text-xl">
    Über dieses <span class="text-blue-500">Projekt</span>
</h2>
<p class="mb-4">
    Dieses Projekt soll einen (kleinen) Beitrag dazu leisten, Platz zu schaffen für die eigentliche Arbeit der <abbr class="underline-offset-3" title="Neben Staatsanwält:innen und Amtsanwält:innen gehören dazu auch Referendar:innen">Vertreter:innen</abbr> der Staatsanwaltschaft:
</p>
<p class="alert info mb-4">
    <span class="font-medium">Beispiel:</span> StA Peter Müller erhält eine Email der Geschäftsstelle; im Anhang eine <abbr class="underline-offset-3" title="Portable Document Format">PDF</abbr>-Datei mit den aktuellen Sitzungsterminen für die kommende Woche: eine <span class="italic">vier Seiten lange</span> Tabelle. Schließlich findet er, nach endlosem Scrollen, seine ersten fünf Termine. Uff, erstmal einen Kaffee ..
</p>
<p class="mb-2">
    Die Strafstation meines Referendariats hieß für mich vor allem eines: endlich <span class="font-medium">Sitzungsdienst für die Staatsanwaltschaft</span> - den Verfahrensgang mitbestimmen dürfen, eigene Entscheidungen treffen - eine verantwortungsvolle und spannende Tätigkeit <span class="italic">und Chance</span>, für die ich sehr dankbar bin.
</p>
<p class="mb-4">
    Aber schon bald ging es mir wie StA Peter Müller; und auch andere Referendar:innen waren von den zweimal wöchentlich erscheinenden PDF-Tabellen wenig begeistert:
</p>
<p class="alert info mb-4">
    <span class="font-medium">Fortsetzung:</span> StA Peter Müller macht sich an die Arbeit - Straftaten ermitteln und Anklageschriften verfassen? Termine eintragen! Zeile für Zeile .. Sitzungssaal, Tag und Uhrzeit, Aktenzeichen .. fünfzehn Minuten <span class="italic">copy&paste</span>, dann weiter zum nächsten Sitzungstag - aber das ist bei den Kolleg:innen ja auch nicht anders ..
</p>
<p class="mb-2">
    <span class="font-medium">Das Problem:</span> Je umfangreicher der Fall, desto mehr Vorbereitungszeit muss für dessen Bearbeitung eingeplant werden - denn für eine <span class="italic">erstmalige</span> umfassende rechtliche Würdigung des Sachverhalts ist nach dem Schluss der Hauptverhandlung (und damit vor dem eigenen Plädoyer) <span class="font-medium">keine Zeit</span> mehr.
</p>
<p class="mb-4">
    <span class="font-medium">Die Lösung:</span> So entstand die Idee, Sitzungstermine aus den bereitgestellten Tabellen für die Verwendung in einem <span class="font-medium">digitalen Kalender</span> aufzubereiten. Die Anwendung <span class="italic">sollte</span> mit allen Sitzungslisten funktionieren, die mit dem <span class="font-medium">Geschäftsstellenprogramm <a class="link text-blue-700 italic" href="https://www.dvhaus.de/leistungen/web.sta" title="Link zur 'dvhaus Software & Solutions GmbH'" target="_blank">web.sta</a></span> erstellt wurden.
</p>
<div class="alert warning mb-8 flex items-center" role="alert">
    <div class="flex-none hidden sm:block">
        <i class="icon-info mr-3 text-current"></i>
    </div>
    <p class="flex-1">
        <span class="font-medium">Hinweis:</span> Die Geschäftsstellen haben darauf keinen Einfluss, weil die Verwaltungssoftware einen Kalenderexport schlicht nicht vorsieht.
    </p>
</div>

<h2 class="mb-2 font-bold text-xl">
    Über die <span class="text-blue-500">Technik</span>
</h2>
<p class="mb-4">
    Dieses Projekt ist <a class="link" href="https://fsfe.org/freesoftware/freesoftware.de.html" title="Link zur Webseite der 'Free Software Foundation Europe'" target="_blank">Freie Software</a>: Der Quellcode des Programms steht unter der freien <abbr class="underline-offset-3" title="GNU Public License">GPL</abbr>-Lizenz und ist vollständig <a class="link" href="https://codeberg.org/S1SYPHOS/sitzungsapp" title="Link zur Codeberg-Seite des Projekts 'sitzungsapp'" target="_blank">auf Codeberg verfügbar</a>.
</p>
<p class="alert info mb-4">
    Die Anwendung ist in der Programmiersprache <a class="link text-blue-700" href="https://de.wikipedia.org/wiki/Python_(Programmiersprache)" title="Link zum Wikipedia-Artikel über 'Python'" target="_blank">Python</a> geschrieben und basiert auf dem Webframework <a class="link italic text-blue-700" href="https://fastapi.tiangolo.com" title="Link zur Webseite von 'FastAPI'" target="_blank">FastAPI</a>. Darauf aufbauend kommen das CSS-Framework <a class="link italic text-blue-700" href="https://windicss.org" title="Link zur Webseite von 'Windi CSS'" target="_blank">Windi CSS</a> sowie das JavaScript-Framework <a class="link italic text-blue-700" href="https://alpinejs.dev" title="Link zur Webseite von 'Alpine.js'" target="_blank">Alpine.js</a> zum Einsatz.
</p>
<p class="mb-2">
    In einem ersten Schritt extrahiert die Anwendung alle Termine aus den zur Verfügung gestellten PDF-Dateien, ohne diese jedoch zu speichern - hierbei bedient sie sich der Programmbibliothek <a class="link italic" href="https://codeberg.org/S1SYPHOS/sitzungsdienst" title="Link zur Codeberg-Seite des Projekts 'sitzungsdienst'" target="_blank">sitzungsdienst</a>.
</p>
<p class="mb-2">
    An dieser Stelle haben Nutzer:innen die Möglichkeit, Termine <span class="font-medium">nach Suchbegriffen zu filtern</span>, wie etwa dem eigenen Vor- oder Nachnamen - andernfalls werden <span class="italic">alle</span> Termine verwendet.
</p>
<p class="mb-4">
    Anschließend wird eine Datei im sogenannten <abbr class="underline-offset-3" title="Internet Calendaring and Scheduling information">ICS</abbr>-bzw. "iCalendar"-Format erstellt, die in <span class="font-medium">alle gängigen Kalenderprogramme</span> übernommen werden kann.
</p>
<div class="alert warning mb-8 flex items-center" role="alert">
    <div class="flex-none hidden sm:block">
        <i class="icon-info mr-3 text-current"></i>
    </div>
    <p class="flex-1">
        <span class="font-medium">Hinweis:</span> Der gesamte Prozess findet <span class="font-medium italic">in-memory</span> statt, sodass auf dem Server keinerlei (personenbezogene) Daten gespeichert werden.
    </p>
</div>

<div class="flex justify-end">
    <a class="btn" href="/">Neustart</a>
</div>

{% endblock %}
